#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* NAVBAR */
.navbar {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  width: 100%; /* Ensure navbar takes full width */
  padding: 0; /* No padding to align to the top left corner */
  z-index: 1000;          /* make sure it sits above everything else */
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  flex: 1; /* Make each button occupy equal space */
}

.navbar a {
  display: block; /* Make the link fill the li */
  padding: 10px 0;
  text-align: center;
  transition:
  background-color 0.7s ease,
  color 0.7s ease,
  border-color 0.7s ease; /* Smooth transition for hover */
  box-sizing: border-box; /* Include padding and border in element's total width */
}

.navbar a:hover {
  background-color: white; /* Light hover effect */
  color: black;
}

.navbar a.active {
  background-color: white; /* Highlight for active page */
  color: black;
}

/* CONTAINER */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.containerBlock {
  align-self: flex-start;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border: 2px solid white;
  border-color: white;
  border-radius: 10px;
}

.containerBlock#right {
  margin-left: auto;
}

.containerBlock#left {
  margin-right: auto;
}